* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  color-scheme: dark;
  background-color: #2e2e2e;
  color: lightgray;
  font: 16px sans-serif;
}

a {
    color: lightgray;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: inherit;
    text-decoration: inherit;
    font-weight: inherit;
}

body > header {
}

body > header > section.banner {
    display: flex;
}

body > header > section.banner img {
    max-height: 80px;
    margin: 5px 10px 5px 5px;
}

body > header > section.banner h1 {
    align-content: center;
    justify-content: center;
    font-size: 40px;
    color: yellow;
}

body > header > search {
    display: none;
}

body > nav {
    display: none;
}

#articles {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

article {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px;
    margin: 5px 20px 20px 5px;
    max-width: 500px;
}

article > header {
    border-bottom: 1px dashed gray;
    text-align: right;
}

article > header > h1 {
}

article > header > p {
    font-size: 14px;
    margin: 3px 0 6px 0;
}

article > header > img {
    float: left;
    max-width: 40px;
    max-height: 40px;
}

article > section {
    margin: 0px 0 6px 0;
    padding: 6px 0 6px 0;
    border-bottom: 1px dashed gray;
}

article > footer {
    font-size: 12px;
}

article > footer > img {
    max-width: 30px;
    max-height: 30px;
    border-radius: 50%;
    float: right;
}


#search {

}

#nav {
}

#topics {
    margin: 10px 0 20px 7px;
}

#topics > ul {
    display: flex;
    font-size: 10px;
    list-style: none;
}

#topics > ul > li {
    margin: 0 1em 0 0;
}

#copyright {
    margin: 10px 0 0 5px;
    font-size: 10px;
    color: gray;
}

